

.main_content{
    padding-left: 4%;
    font-size: 18px;
}

.study{
    padding-top: 80px;
}

.study p:nth-child(1){
    font-size: 25px;
}

.study p:nth-child(2){
    margin-top: 15px;
}

.study_title{
    margin-top: 45px;
    background-color: #a59999;
    height: 150px;
    text-align: center;
    padding-top: 30px;
}

.study_title p{
    line-height: 120%;
    
}

.study_title button{
    margin-top: 10px;
    width: 13%;
    height: 40px;
    background-color: #F5EFEF;
    border : 1px solid #454545;
    border-radius: 40%;
    font-size: 18px;
}


.study_content{
    width: 100%;
    margin-top : 45px;
    border-top : 1px solid #454545;
    padding-top: 35px;
}

.image_wrap{
    width : 100%;
    height: 790px;
    background: url(../images/A.png) 100% 100% / 100% 100% no-repeat;
    position: relative;
}

/*.study_content  img{
    width: 100%;
}
*/

.item{
    width: 100px;
    height: 100px;
    background: url(../images/amazed.png) 100% 100% / 100% 100% no-repeat;
    position: absolute;
}


.item.active{
    cursor: move;
}


.wrap{ position: absolute;
     top: 50%; left: 50%; 
     transform: translate(-50%, -50%);
      width: 300px; height: 300px; border: 1px solid #ddd; border-radius: 5px; box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); overflow: hidden; } 
.header{ padding: 5px; text-align: center; font-size: 14px; color: #333; background: #ddd; cursor: default; }
.header.active{ cursor: move; }



.pagination{
    width: 50%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 150px;
}

.pagination a{
    width: 10%;
    margin-right: 6%;
}
