
.wish-page{font-weight: bold; font-size: 28px; color: rgb(138, 138, 138);}
.main_content{padding: 60px 0 0 20px;}


td > img{
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

table{width: 100%; margin-top: 20px; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;}
table tr:not(:first-of-type){display: flex; padding-top: 20px; padding-bottom: 20px; border-top: 1px solid #ccc;}
table tr{display: flex; padding-top: 20px; padding-bottom: 20px;}

tr > td:first-of-type{width: 150px;}
tr > td:nth-of-type(2){width: 70%; display: grid;}

.bold14px{font-weight: bold; font-size: 14px;}
.bold12ccc{font-weight: bold; font-size: 12px; color: #ccc;}
.pro-content{font-weight: bold; font-size: 12px; color: #ccc; min-width: 230px;}

.lovewish{cursor: pointer; width: 100px; height: 100px;}