.main_content{padding: 60px 0 0 20px;}

.mute-page{font-weight: bold; font-size: 28px; color: rgb(138, 138, 138); display: inline-block;}

.mute-info{margin-top: 40px; margin-right: 20px;}
.mute-delete{border: none; width: 100%; height: 100%; margin-right: 30px; border-radius: 5px; background-color: #ccc;}
.mute-delete:hover{cursor: pointer;}
.mute-td{width: 100%; padding: 10px;}
.mute-tr{border: 0.3px solid #ccc; border-radius: 10px;}

@media screen and (max-width: 768px) and (min-width: 0px) {

    .main_content{padding: 0;}
    .board-page{margin-left: 20px;}
    .footer_wrap{display: none;}

    table{margin-left: 15px;}

    .mute-page{padding: 10px;}



    .side_menu{display: inline-block;}
    .side_menu > ul{display: flex;}
    .side_menu > ul > li{width: 25%; text-align: start;}
    .side_menu > ul > hr{display: none;}
    
}@media screen and (max-width: 950px) and (min-width: 768px)  {
    
    table{font-size: 12px;}
    
}@media screen and (min-width: 950px) {
    
    table{font-size: 15px;}

}